<header class="navbar navbar-fixed-top navbar-inverse navbar-custom">
  <div class="container">
    <%= link_to image_tag("brandeisseal.png", height: '50'), '#', id: "logo" %>
    <%= link_to "Brandeis Foster Student Mentorship Program", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '#' , id:"menuitem"%></li>
        <li><%= link_to "Classes",  '#', id: "menuitem" %></li>
        <li><%= link_to "Schedule", '#', id: "menuitem" %></li>
        <li><%= link_to "Progress", '#', id: "menuitem" %></li>
        <li><%= link_to "Live Chat", '#', id: "menuitem" %></li>
      </ul>
      </nav>
      </div>
  </div>
</header>
